nav{
    display: flex;
    justify-content: center;
    gap: 400px;
    text-decoration:dashed;
}
span{
    color: blueviolet;
}
div{
    color:rgb(45, 47, 61);
    justify-content: left;
}
#copy
{
    color: brown;
}
.html{
    color: rgb(26, 5, 130);
}
.css{
    color: blue;
}
.img{
    width:100%;
    height: auto;
}