.main {
    color: blue;
    background-color: lightpink;
    font-weight: 400;
    font-style: normal;
}

#one {
    color: red;
    background-color: lightblue;
    font-weight: 400;
    font-style: normal;
}

#two {
    color: green;
    background-color: lightyellow;
    font-weight: 400;
    font-style: normal;
}
.container {
    color: purple;
    background-color: lightgray;
    font-weight: 400;
    font-style: normal;
}
#three {
    color: orange;
    background-color: lightcyan;
    font-weight: 400;
    font-style: normal;
}
.new span{
    color:blue;
    background-color: lightgreen;
}
.truck{
    width:100%;
    display:flex;
}
.box1{
    position: relative;
    z-index: 3;
    height: 100px;
    width:200px;
    top: 15px;
    text-align: center;
    padding: 40px;
}
.box2{
    position: relative;
    z-index: 4;
    height: 100px;
    width: 200px;
    top:-15px;
    text-align: center;
    padding: 40px;
}
.box3{
    position: relative;
    z-index: 1;
    height: 100px;
    width: 200px;
    top:-37px;
    text-align: center;
    padding: 40px;
}
.cont{
    position:relative;
    background-color: aquamarine;
    margin-left:200px;
    height: 250px;
    width: 250px;
}
.box11{
    position: absolute;
    z-index: 6;
    height: 90px;
    width:200px;
    bottom:15px;
    left: 20px;
}
.box12{
    position: absolute;
    z-index: 2;
    height: 90px;
    width: 200px;
    top:15px;
    left:20px;
}